@using LibraryManagementSystem.Models.ViewModels
@model List<RoleManagementIndexViewModel>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Action(s)</th>

        </tr>

    </thead>
    <tbody>
        @foreach (RoleManagementIndexViewModel vm in Model)
        {
            <tr>
                <td>@vm.User.Id</td>
                <td>@vm.User.UserName</td>
                <td>@string.Join(", ", vm.Roles)</td>
                <td>

                    @if ((!vm.Roles.Contains(Constants.AdminRole) && !vm.Roles.Contains(Constants.SuperAdminRole)) || User.IsInRole(Constants.SuperAdminRole))
                    {
                        <div class="d-inline">
                            <div class="d-inline">
                                <form method="post" class="d-inline">
                                    <input type="hidden" name="userId" value="@vm.User.Id">
                                    <button  class="btn btn-link btn-md p-0 m-0" asp-controller="RoleManagement" asp-action="GetRoleToAdd">Add Role</button>
                                </form>
                                <text> | </text>
                                <form method="post" class="d-inline">
                                    <input type="hidden" name="userId" value="@vm.User.Id">
                                    <button class="btn btn-link btn-md p-0 m-0" asp-controller="RoleManagement" asp-action="GetRoleToRemove">Remove Role</button>
                                </form>
                            </div>
                        </div>


                    } 
            </tr>
        }

    </tbody>
</table>