@model Book

<div class="text-center">
    <h1>Book History</h1>
</div>

@if (Model.BookRequests.Count <= 0)
{
    <p>No book requests</p>
} else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Status</th>
                <th>Book</th>
                <th>Requester</th>
                <th>Time of request</th>
                <th>Reason</th>
            </tr>

        </thead>
        <tbody>
            @foreach (BookRequest br in Model.BookRequests)
            {
                <tr>
                    <td>@br.Status</td>
                    <td>@br.Book.Title</td>
                    <td>@br.Requester.UserName</td>
                    <td>@br.CreatedDate</td>
                    <td>@br.Reason</td>
                </tr>
            }

        </tbody>
    </table>
}

@if (Model.BookReturns.Count <= 0)
{
    <p>No book returns</p>
} else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Book</th>
                <th>Borrowing User</th>
                <th>Time of Return</th>
            </tr>

        </thead>
        <tbody>
            @foreach (BookReturn br in Model.BookReturns)
            {
                <tr>
                    <td>@br.Book.Title</td>
                    <td>@br.BorrowingUser.UserName</td>
                    <td>@br.TimeOfReturn</td>
                </tr>
            }

        </tbody>
    </table>
}