@using LibraryManagementSystem.Models.ViewModels
@model BorrowRequestIndexViewModel

<div class="text-center">
    <h1>Book Request Manager</h1>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Sorting options</h2>
            <form method="post" class="form-horizontal">
                <div class="form-group mb-3">
                    <label>Status</label>
                    <select class="form-control" name="status" >
                        <option value="">--Please choose an option--</option>
                        @foreach(Constants.BookRequestStatus status in Model.Statuses)
                        {
                            <option value="@status" selected="@(status == ViewBag.Status)">@status</option>
                        }
    
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label>Start Date</label>
                    <input type="date" class="form-control" name="startDate" value="@ViewBag.StartDate" />
                </div>
                <div class="form-group mb-3">
                    <label>End Date</label>
                    <input type="date" class="form-control" name="endDate" value="@ViewBag.EndDate" />
                </div>

                <div class="form-group mb-3">
                    <input type="text" class="form-control" name="searchQuery" placeholder="Search by user and book" value="@ViewBag.SearchQuery">
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-outline-dark" asp-controller="BorrowRequest" asp-action="Index">Update filters</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model.BookRequests.Count <= 0)
{
    <p>No requests found.</p>
    return;
}


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Status</th>
            <th>Book Title</th>
            <th>Book Status</th>
            <th>User</th>
            <th>Time of Request</th>
            <th>Reason</th>
            <th>Actions</th>
        </tr>

    </thead>
    <tbody>
        @foreach (BookRequest br in Model.BookRequests)
        {
            <tr>
                <td>@br.Status</td>
                <td>@br.Book.Title</td>
                <td>
                    @if (br.Book.UserId == null)
                    {
                        <text>Available</text>
                    }
                    else if (br.Book.UserId == br.RequesterId)
                    {
                        <text>User has book</text>
                    } 
                    else
                    {
                        <text>Book checked out to another user</text>
                    }
                </td>
                <td>@br.Requester.UserName</td>
                <td>@br.CreatedDate</td>
                <td>@br.Reason</td>
                <td>
                    @if (br.Status == Constants.BookRequestStatus.Pending)
                    {

                        <form method="post" class="d-inline">
                            <input type="hidden" name="bookRequestId" value="@br.Id">
                            <button class="btn btn-link btn-md p-0 m-0" asp-controller="BorrowRequest" asp-action="UpdateRequestStatus">Update Status</button>
                        </form>
                    }
                    else
                    {
                        <text>No actions available</text>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>